.manage-choice-box{
    display: flex;
    flex-wrap: wrap;
}

[hidden]{
    display: none;
}

.choice-set-box{
    width: 80%;
    margin: 100px auto;

}

.choice-box{
    background-color: aliceblue;
    width: 50%;
}

.button{
    width: 100%;
}

.input{
    line-height: 2rem;
    width: 97%;
}

.choice-box{
    text-align: center;
    font-size: 1.5rem;
}

.choice-set{
    color: white;
}