
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>My test page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}" />
      {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-item" ><a href="{% url 'main' %}">Home</a></li>
        <li class="nav-item" ><a href="{% url 'manage' %}">Manage Choices</a></li>
        {% block dynamic_nav %}{% endblock %}
      </ul>
    </nav>
      {% block content %}{% endblock %}
  </body>
</html>