.navbar{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nav-item {
    margin: 10px;
}