
body {
  background: #333;
  padding: 20px;
}

a.app-anchor,
.button,
input[type="submit"]{
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: black;
}

a:active,
.button:active,
input[type="submit"]:active{
  background-color: #333;
}
a.app-anchor:hover,
.button:hover,
.dice-mode-btn:hover,
input[type="submit"]:hover{
  background-color: #666;
}
a.randomize {
  width: auto;
  margin: 20px 10px;
}
