.choice-box {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}

.choice-box p,
 .choice_set,
 #your-choice,
 .dice-mode-btn{
    border: 1px solid white;
    border-radius: 60%;
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
}

#your-choice{
    background-color: black;
    font-size: 2rem;
    width: 40%;
    color: white;
    text-align: center;
}

.dice-mode-btn{
    display: inline-block;
    padding: 1rem;
    margin: 5px;
}


.table-item p{
    text-align: center ;
}

.choice {
    padding: 5px;
}

.dice-mode-choice input{
    margin: 10px 10px 10px 10px;
}

.dice-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.choice_set,
.dice-mode-btn{
    transition: transform 250ms;
}

.choice_set:hover,
.dice-mode-btn:hover{
    transform: scale(1.2);
    cursor:pointer;
}
